* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans',sans-serif;
    background-color: #F7FBFC;
}

.conteudo-tabela {
    
}

.historico{
    width: 100px;
}

.conteudo-tabela table {
    width: 900px;
    border-spacing: 0 0.2rem;
    margin: 0px auto 5px;
    font-family: 'Open Sans',sans-serif;
    /* border-radius: 5px;
    -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%); */
    
}

.conteudo-tabela table thead th  {
    
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    
    padding: 8px 16px 8px 16px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    /* background-color:  #6194A0; */
    /* border-radius: 5px; */
}

.conteudo-tabela table tbody tr{
    /* background-color: #F7FBFC;     */
    padding: 8px 16px 8px 16px;
    font-size: 13px;   
    color:#6194A0; 
    text-align: center;  
    font-weight: 500;
}

.conteudo-tabela table tbody tr:hover {
    /* background-color:  #6194A0; */
    color: white;
}

.conteudo-tabela table tbody td  {
    /* background-color: #F7FBFC;     */
    padding: 8px 16px 8px 16px;
    font-size: 13px;   
    color:#6194A0; 
    text-align: center;  
    font-weight: 500;
}

.acoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* linhas pares (even) */
.conteudo-tabela tbody tr:nth-child(even) {
    background-color: white;
}
/* linhas ímpares (odd) */
.conteudo-tabela tbody tr:nth-child(odd) {
    background-color: #F7FBFC;
}

/* .conteudo-tabela table .cor-entrada {
    color: #33cc95;
}

.conteudo-tabela table .cor-saida {
    color: #e52e4d;
} */

